
* {
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

@media (min-width: 288px) and (max-width: 330px) {
    html {
        font-size: 7px;
    }
}

@media (min-width: 248px) and (max-width: 288px) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 248px) {
    html {
        font-size: 5px;
    }
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    font-weight: 400;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-display: optional;
    color: #000;
}

body {
    background-image: url("./night_lights.jpg");
    background-position: 50% 10%;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-color: #444;
    overflow: hidden;
    transition: background-position 1s;
}

@media (max-height: 360px) and (max-aspect-ratio: 11/5) {
    body {
        background-size: auto 468px;
    }
}

@media (min-height: 360px) and (min-aspect-ratio: 11/5) {
    body {
        background-size: 100% 130%;
    }
}

@media (max-height: 360px) and (min-aspect-ratio: 11/5) {
    body {
        background-size: 100% 468px;
    }
}

.topLayer {
    width: 100%;
    padding: 2rem 2.5rem;
    top: 0;
    font-size: 3rem;
    color: #D8D8D8;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 890;
    transition: top 1s;
}

#main {
    margin: 2rem 1rem;
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    bottom: 0rem;
    text-align: center;
}

#main::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

@media (max-height: 228px) {
    body {
        background-position: 50% 60%;
    }
}

@media (max-width: 228px), (max-height: 228px) {
    .topLayer {
        position: relative;
        top: -8rem;
    }

    #main {
        display: none;
    }
}


.toolBox {
    width: 39rem;
    display: inline-block;
    font-size: 3rem;
    font-weight: 900;
}

    .toolBox_square,
    .toolBox_wide {
        margin: 0.5rem;
        height: 12rem;
        position: relative;
        float: left;
        background: rgba(98, 91, 87, 0.3);
    }

    .toolBox_square {
        width: 12rem;
    }

    .toolBox_wide {
        width: 25rem;
    }

    body.onMobile #toolBox_squareMenu,
    .toolBox_enabledBox {
        background: rgba(51,51,51,0.3);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                    0 2px 9px 1px rgba(0, 0, 0, 0.12),
                    0 4px 2px -2px rgba(0, 0, 0, 0.2);
    }

    .toolBox_boxIcon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        overflow: hidden;
    }

        .toolBox_boxIcon > h1 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 100%;
            text-align: center;
            transition: left 0.5s;
        }

        .toolBox_boxIcon > h1::before {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        body.onMobile #toolBox_squareMenu::after,
        .toolBox_boxIcon::after {
            content: "";
            margin: 10%;
            width: 80%;
            height: 80%;
            position: absolute;
            top: 0;
            left: 0%;
            display: block;
            background-image: url("collect_icon.svg");
            background-repeat: no-repeat;
            background-size: 600% 100%;
            background-position: 20% 0;
            transition: left 0.5s;
        }

        .toolBox_wide > .toolBox_boxIcon::after {
            margin: 5% 30%;
            width: 40%;
        }

        .toolBox_enabledBox.onShowTitle > .toolBox_boxIcon > h1 {
            left: 0%;
        }

        .toolBox_enabledBox.onShowTitle > .toolBox_boxIcon::after {
            left: -100%;
        }

    #toolBox_squareMenu {
        transition: background 0.4s;
    }

    #toolBox_squareMenu.onShowTitle {
        background: rgb(139, 0, 255) !important;
    }

    body.onMobile #toolBox_squareMenu::after {
        background-position: 0 0;
    }

    #toolBox_sourceCode > .toolBox_boxIcon > h1 {
        background: rgb(255, 153, 0);
        color: rgb(0, 102, 255);
    }

    #toolBox_sourceCode > .toolBox_boxIcon::after {
        background-size: 600% 100%;
        background-position: 40% 0;
    }

    #toolBox_read > .toolBox_boxIcon > h1 {
        background: rgb(244, 0, 161);
        color: rgb(11, 255, 94);
    }

    #toolBox_read > .toolBox_boxIcon::after {
        background-size: 600% 100%;
        background-position: 60% 0;
    }

    #toolBox_write > .toolBox_boxIcon > h1 {
        background: rgb(153, 255, 77);
        color: rgb(102, 0, 178);
    }

    #toolBox_write > .toolBox_boxIcon::after {
        background-size: 600% 100%;
        background-position: 80% 0;
    }

    #toolBox_history > .toolBox_boxIcon > h1 {
        background: rgb(0, 127, 255);
        color: rgb(255, 128, 0);
    }

    #toolBox_history > .toolBox_boxIcon::after {
        background-size: 600% 100%;
        background-position: 100% 0;
    }

    #toolBox_reportProblem > .toolBox_boxIcon > h1 {
        background: rgb(255, 200, 50);
        color: rgb(0, 55, 205);
    }

    #toolBox_reportProblem > .toolBox_boxIcon::after {
        background-size: 600% 100%;
        background-position: 20% 0;
    }

    @media (min-width: 288px) and (max-height: 520px) {
        #main::before {
            height: 125%;
        }

        body.onPc #toolBox_squareMenu,
        body.onMobile #toolBox_sourceCode,
        .toolBox_square.onEmpty,
        #toolBox_reportProblem {
            display: none;
        }
    }


    @media (min-width: 288px) and (max-height: 380px) {
        .toolBox_wide {
            width: 30.33%;
        }

        .toolBox_enabledBox > .toolBox_boxIcon::after {
            margin: 10%;
            width: 80%;
            left: 0% !important;
        }

        .toolBox_boxIcon > h1 {
            left: 100% !important;
        }

        #toolBox_squareMenu,
        #toolBox_sourceCode {
            display: none;
        }
    }

    @media (min-width: 228px) and (max-width: 288px) and (max-height: 394px) {
        #main::before {
            height: 128%;
        }

        body.onPc #toolBox_squareMenu,
        body.onMobile #toolBox_sourceCode,
        .toolBox_square.onEmpty,
        #toolBox_reportProblem {
            display: none;
        }
    }

    @media (min-width: 228px) and (max-width: 288px) and (max-height: 254px) {
        .toolBox_wide {
            width: 30.33%;
        }

        .toolBox_enabledBox > .toolBox_boxIcon::after {
            margin: 10%;
            width: 80%;
            left: 0% !important;
        }

        .toolBox_boxIcon > h1 {
            left: 100% !important;
        }

        #toolBox_squareMenu,
        #toolBox_sourceCode {
            display: none;
        }
    }

